<html>
  
    <body>
      
  <header><%- include('../common/header')%><header>
  <form action="/login" method="post">
    <label for="email_id">email_id:</label><br />
    <input type="text" id="email_id" name="email_id" /><br />
    <label for="password">password:</label><br />
    <input type="text" id="password" name="password" /><br /><br />
    <input type="submit" value="Submit" />
  </form></body>
  <footer><%- include('../common/footer')%><footer>
    
</html>